
.container1{
    padding: 20px;
    width: auto;
    height: 100vh;
  
     background: linear-gradient(
        135deg,
        #02002466,
        #09097967,
        #0000003f
    );
}
.home-sub-container{
    
    width: auto;
 display: flex;
 border: 1px solid black;

 justify-content: space-between;
 margin-left: 50px;
 margin-right: 50px;
 
 padding: 10px;
 border-radius:20px;
 background: rgba(255, 255, 255, 0.302);

    backdrop-filter: blur(35px);

    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(65, 64, 64, 0.512);

    
    /* Soft Glow */
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.432);
 
    
}
.main-container-home{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;

}
.main-btm{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    gap: 50px;
}
.main-btm button{
    padding: 20px;
     transition: 0.3s ease;
      transform: translateY(-3px);
    border-radius: 20px;
    color: white;
     box-shadow:
        2px 5px 20px rgba(0, 0, 0, 0.432);
    border: 1px solid rgba(0, 0, 0, 0.393);
    background-color: rgba(32, 32, 99, 0.429);
}
.main-btm button:hover{
    background-color: rgba(0, 255, 255, 0.485);
    color: black;
     cursor: pointer;
}
.main-btm button p{
    font-weight: 600;
    font-size: 20px;
}